:root {
    --height-playController: 89px;
    --height-header: 70px;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

button,input {
    outline: none;
    background: none;
    border: none;
    text-decoration: none;
}