:root {
    --height-playController: 89px;
    --height-header: 70px;
    --aside-width: 240px;
    --padding-mainContent: 59px;
    --colorSearch-default: hsla(0,0%,100%,0.1);
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

button,input {
    outline: none;
    background: none;
    border: none;
    text-decoration: none;
}

.App {
    background-image: var(--bg-link);
    background-position: 0% 0%;
    background-size: 1920px auto;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// custom ant
.ant-drawer-content-wrapper {
    box-shadow: none !important;
    border-left: 1px solid var(--border-primary);

    .ant-drawer-header {
        border-color: var(--border-secondary);
    }

    .ant-drawer-title {
        color: var(--player-text);
    }

    .ant-drawer-body {
        padding: 0 8px 15px 8px;
    }

    .ant-drawer-content {
        background-color: var(--layout-bg);
    }
}