.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .item i {
        font-size: 1.6rem;
        padding: 6px;
        margin: 0 2px;
        cursor: pointer;
         &:hover {
            
         }

        i {
            padding: 5px;
        }
    }

    .listSong {
        border-radius: 4px;
        transition: 0.3s;
        &.active {
            background-color: var(--purple-primary);
            color: #fff;
        }
    }

    .gap {
        width: 43px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            width: 1px;
            height: 100%;
            border-left: 1px solid var(--border-player);
        }
    }

    .volumeItem {
        display: flex;
        align-items: center;
    }

    .volume {
        display: flex;
        align-items: center;
        height: 3px;
        border-radius: 5px;
        background-color: var(--progressbar-player-bg);

        &:hover {
            height: 5px;
            input {
                &::-webkit-slider-thumb {
                    opacity: 1;
                    pointer-events: unset;
                }
            }       
        }

        input {
            width: 70px;
            appearance: none;
            height: 100%;
            background-image: linear-gradient(var(--progressbar-active-bg),var(--progressbar-active-bg));
            background-size: 0% 100%;
            border-radius: 5px;
            margin: 0;
            background-repeat: no-repeat;
            
            &::-webkit-slider-thumb {
                appearance: none;
                opacity: 0;
                pointer-events: none;
                height: 9px;
                width: 9px;
                transition: 0.3s;
                cursor: pointer;
                border-radius: 50%;
                background-color: var(--progressbar-active-bg);
            }
        }
    }

    .playListSong {
        div[name="songItem"] {
            border-bottom: none;
        }
    }
}