.myMusicPage {
    height: 1000px;
    padding-top: 70px !important;
    span.title {
        font-size: 4rem;
        font-weight: 700;
    }
    .myMusicPage-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .button {
            margin-left: 14px;
            background-color: var(--purple-primary);
            cursor: default;

            i {
                color: #fff;
                font-size: 2rem;
            }
        }
    }

    .myMusicPage-playlist-title {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;

        i {
            margin-left: 5px;
            background-color: var(--alpha-bg);
            width: 26px;
            height: 26px;
            border-radius: 50%;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    .myMusicPage-playlist-option {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;

        button {
        }

        i {
            font-size: 2rem;
            color: #fff;
        }
    }
}