.button {
    display: flex;
    align-items: center;
    min-width: 100px;
    padding: 8px;
    font-size: 1.3rem;
    cursor: pointer;

    &.pill {
        border-radius: 20px;
    }

    &.buttonIcon {
        justify-content: center;
        align-items: center;
        min-width: unset;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--alpha-bg);

        .button__iconLeft {
            margin: 0;
        }
        
        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        i {
            font-size: 1.5rem;
        }
    }

    .button__iconLeft {
        margin-right: 10px;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
    }
}